@keyframes rotateIn {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0deg); }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
html{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: orangered;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    animation: fadeIn 2s ease-in;
}

nav ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    animation: rotateIn 3s ease-in-out 1;
}

#letter {
    background-color: white;
    padding: 20px;
    margin-left: 275px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    animation: slideIn 1s ease-out;
    line-height: 1.6;
    font-size: 18px;}